.header {
  padding: 1rem 2rem; /* Default horizontal padding for desktop */
  background-color: #fff; /* Default white background for light mode */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the header is on top of other content */
}

.header h1 {
  margin: 0;
  font-size: 1.2rem; /* Smaller text */
  color: #5d5d5d; /* Default dark text for light mode */
  text-align: left;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .header {
    padding: 1rem; /* Reduced horizontal padding for better alignment with mobile chat view */
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #1d1d1d; /* Dark background for dark mode */
  }

  .header h1 {
    color: #e0e0e0; /* Light text for dark mode */
  }
} 